{% extends "stock/base.html"%}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1 style="color: black;">Ocurrió un error</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

    <br/>
	<hr/>
    <br/>
    <div style="width: 50%; margin:auto;">
        <h1 style="color: black;">Ocurrió un error</h1>
        <p>{{ message }}</p>
        <a href="{% url 'facial_login' %}">Volver a intentar</a>
    </div>
    <br/>
	<hr/>
    <br/>

{% endblock %}